// Import page-specific CSS files here.
.background {
  background-color: rgb(103, 212, 234);
}

.title {
  width: 40px;
  margin: 5 auto;
}

.fa-star {
  color: yellow;
}

.container_cards {
  margin-right: 40px;
  margin-left: 40px;
  }

.container-top {
  margin-right: 40px;
  margin-left: 40px;
  }

.btn-link {
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  transition: opacity 0.3s ease;
  }

.btn-link:hover {
  opacity: 1;
  text-decoration: none;

}

.banner {
  background-image: url(banner_cocktail.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 140px 0px;
}

.banner-new {
  background-image: url(new.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 140px 0px;
}

.color h1 {
  color: white;
  font-size: 65px;
}

.card_cocktail {
  overflow: hidden;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 50px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.cards-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card_cocktail h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.card_cocktail p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card_cocktail .card_cocktail_info {
  background-color: black;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card_cocktail .card_options {
  margin-right: 20px;
  margin-bottom: 20px;
}

.card_cocktail .card_options_top {
  margin-right: 20px;
  margin-bottom: 20px;
}
