<div class="background">
  <div class="banner-review">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center form-new">
        <h3>Add a review</h3>
        <div class="review-size">

        <%= simple_form_for [@cocktail, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content %>

        <%= f.submit class: "btn btn-primary"%>
        <% end %>
        </div>
       </div>
    </div>
</div>
